.cards-slide {
  width: 86%;
  margin: 0 auto;
  padding-top: 30px;
}
.cards{
  border-bottom: 0.05rem solid #707070;
  padding-bottom: 50px;
}
.text h1 {
  font-size: 32px;
}
.text h2 {
  font-size: 22px;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-card-content {
  margin-top: 50px;
  padding: 8px;
  width: 207px;
  height: 355px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.product-card-content img {
  width: 100%;
  object-fit: cover;
}
.cards button {
  background-color: rgb(167, 39, 39);
  color: rgb(0, 104, 196);
}

.product-card-content h3 {
  font-size: 16px;
  text-align: center;
}
.pricetag {
  background-color: #ffee00;
  padding-top: 19px;
  text-align: center;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: 2px solid #78ca0f;
  margin-left: 5.5rem;
  position: absolute;
  bottom: 80px;
}
.sale {
  background-color: #ff4500;
  text-align: center;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: 2px solid #78ca0f;
  margin-left: 8.5rem;
  position: absolute;
  bottom: 60px;
  color: #fff;
  padding: 10px;
}
.pricetag h4 {
  text-decoration: line-through;
  font-weight: 600;
  font-size: 16px;
}
.pricetag h5 {
  color: #ff4500;
  font-weight: 600;
}
